torch>=2.0
sympy>=1.12
networkx>=3.0
numpy>=1.24
rank_bm25>=0.2.2
gymnasium>=0.29
matplotlib>=3.7
transformers>=4.40.0
accelerate>=0.30.0
sentencepiece>=0.1.99
peft>=0.11
bitsandbytes>=0.43.0
tiktoken
einops
transformers_stream_generator
langchain
langchain-community
langchain-experimental
langgraph
